<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('home') }}">Real Estate Agency</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link {% if current_menu is defined and current_menu == 'properties' %}active{% endif %}" aria-current="page" href="{{ path('properties') }}">Acheter</a>
				</li>
			</ul>
			
			
			<ul class="navbar-nav">
				<li class="nav-item">
					{% if app.user %}
						<a href="{{ path('logout') }}" class="nav-link">Se déconnecter</a>
					{% else %}
						<a href="{{ path('admin.property.index') }}" class="nav-link">Administration</a>
					{% endif %}
				</li>
			</ul>
		</div>
	</div>
</nav>